.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.lakeView {
  display: flex;
  flex-flow: column nowrap;
  width: 760px;
  padding: 8px;
  margin-bottom: 32px;
  overflow: auto;
  line-height: 1.74;
  letter-spacing: 0.05em;
  font-family: 'Chinese Quote', 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.lakeView a:hover {
  text-decoration: none;
}

.lakeTitle {
  margin: 0px;
  font-size: 36px;
  padding: 6px 2px;
  margin-bottom: 16px;
}

h1 {
  font-size: 2.2rem;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
}

img {
  overflow-x: scroll;
  max-width: 100%;
}
